.hidden {
    visibility: hidden;
    width: 0;
    min-width: 0;
    height: 0;
    min-height: 0;
    margin: 0;
    position: absolute;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*Prevent zoomout on mobile:*/
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}

footer, .navbar {
    background-color: black;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

div, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.column {
    flex-direction: column;
}

.contentWrapper {
    width: 90vw;
    max-width: 1366px;
    position: relative;
    justify-content: space-between;
    margin: 25px;
    padding: 75px;
}

.column a {
    cursor: pointer;
}

/*Font styles*/

@font-face {
    font-family: 'Questa_sans_regular_hu';
    src: url('web-fonts/HU-2-Questa_Sans_Regular-webfont.woff2') format('woff2'), url('web-fonts/HU-2-Questa_Sans_Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Questa_sans_regular_de';
    src: url('web-fonts/DE-2-Questa_Sans_Regular-webfont.woff2') format('woff2'), url('web-fonts/DE-2-Questa_Sans_Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.serif:lang(HU) {
    font-family: 'Abhaya Libre', serif;
}

.serif:lang(EN) {
    font-family: 'Abhaya Libre', serif;
}

.serif:lang(DE) {
    font-family: 'Questa_grande_regular_de', serif;
}

.serif:lang(RU) {
    font-family: 'Source Serif Pro', serif;
}

.sans-serif:lang(HU) {
    font-family: 'Questa_sans_regular_hu', sans-serif;
}

.sans-serif:lang(EN) {
    font-family: 'Questa_sans_regular_hu', sans-serif;
}

.sans-serif:lang(DE) {
    font-family: 'Questa_sans_regular_de', sans-serif;
}

.sans-serif:lang(RU) {
    font-family: 'Source Sans Pro', sans-serif;
}

.black {
    color: rgba(0, 0, 0, 0.7);
    color: rgb(0, 0, 0);
}

.grey {
    color: rgb(180, 180, 180);
}

.white {
    color: rgba(255, 255, 255, 0.9);
    color: rgb(255, 255, 255);
}

.yellow {
    color: #F5CA36;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/*Font size*/

.serif, .sans-serif {
    font-size: 16px;
    line-height: 24px;
}

.xs {
    font-size: 13px;
    font-weight: normal;
}

.sm {
    font-size: 14px;
    line-height: 14px;
}

.lg {
    font-size: 20px;
    line-height: 30px;
}

.xl {
    font-size: 35px;
    line-height: 30px;
}

/*Elevation*/

.elevation-high {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.elevation-mid {
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.5);
}

/*Navbar*/

.navbar {
    width: 100vw;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 1);
    letter-spacing: 0.05rem;
}

.navbar .contentWrapper {
    min-width: 280px;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: flex-start;
}

.navbar-logowrapper {
    min-height: 100%;
}

.navbar-logowrapper .serif {
    margin-right: 15px;
    text-transform: uppercase;
}

.navbar-logo {
    height: 25px;
    margin-right: 15px;
}

.navbar-linkwrapper {
    width: 0;
    visibility: hidden;
}

/*Dropdown Menus*/

.dropdown-wrapper {
    align-items: flex-start;
}

.language-dropdown, .hamburger-dropdown {
    max-width: 35px;
    align-items: flex-end;
    margin: 0 8px 0 8px;
}

.hideable-link-wrapper {
    visibility: hidden;
    background-color: rgb(216, 216, 216);
    height: 0;
}

.hideable-link {
    height: 45px;
    margin: 0 5px 0 5px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger-dropdown .hideable-link {
    max-width: 150px;
    width: 150px;
}

.link-border-vertical {
    height: 15px;
    width: 1px;
    background-color: gray;
}

.link-border-horizontal {
    height: 1px;
    width: 15px;
    background-color: gray;
}

.languagebtn-pressed {
    opacity: 0.5;
    border: 2px dotted gray;
}

.hamburger {
    height: 35px;
    width: 35px;
    margin: 10px 0 10px 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.bar1, .bar2, .bar3, .bar4 {
    width: 30px;
    height: 2px;
    background-color: #E91D24;
    margin: 2px 0;
    transition: 0.3s;
}

.bar2, .bar3 {
    background: none;
    opacity: 0;
    margin: 0;
    transition: 0.3s;
}

.change {
    background-color: white;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.change .bar1 {
    opacity: 0;
}

.change .bar2 {
    opacity: 1;
    background-color: black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.change .bar3 {
    opacity: 1;
    background-color: black;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.change .bar4 {
    opacity: 0;
}

.show {
    visibility: visible;
    height: auto;
}

.languageIconWrapper {
    height: 50px;
}

.languageIconWrapper p, .languageIcon {
    margin: 8px 5px 0px 5px;
    cursor: pointer;
}

.languageIcon {
    height: 20px;
    width: 20px;
}

/*main content*/

.mainContentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    min-height: 80vh;
}

/*Intro section*/

.introtext {
    padding: 25px;
    line-height: 28px;
}

/*mobile*/

.backgroundImageContainer {
    position: fixed;
    top: 0;
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    height: 700px;
    overflow: hidden;
}

.backgroundImageContainer div {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
}

.background-image {
    position: relative;
    bottom: 0;
    width: 1000px;
    z-index: -2;
    transition: 0.25s;
}

.introSection {
    /*width: 100vw;*/
    min-height: 600px;
    max-height: 2500px;
    position: relative;
    /*justify-content: flex-end;*/
}

.introWrapper {
    position: -webkit-sticky;
    top: 0;
    margin: 0 50px 0 50px;
    flex-wrap: wrap;
    height: min-content;
    justify-content: center;
}

.introLeft {
    background-color: rgba(255, 255, 255, 0.8);
    letter-spacing: 6px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    height: 45vw;
    width: 683px;
    min-width: 285px;
    line-height: 28px;
}

.introLeft p {
    padding-left: 25px;
    width: min-content;
}

.introRight {
    background: rgb(0, 0, 0, 0.8);
    height: min-content;
    width: 683px;
    min-width: 285px;
    line-height: 30px;
}

.emeaFirmImage {
    margin-right: 25px;
    width: 80px;
}

.emeaLawyerImage {
    position: absolute;
    top: 25px;
    right: 0px;
    margin: 5px;
    width: 90px;
}

.tilecontainer {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
   /* margin: 40px 50px 50px 50px;*/
    position: relative;
    top: 0;
}

.tile {
    height: 85px;
    min-height: 85px;
    max-height: 85px;
    width: 95vw;
    min-width: 95vw;
    max-width: 95vw;
    overflow: hidden;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background: none;
    font-weight: bold;
    justify-content: center;
    position: relative;
}

.tile p {
    position: absolute;
    top: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383838;
}

.tileHeader {
    background-color: #E91D24;
    margin: 5px;
}

.whiteTeamPageHeader {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    width: 200vw;
    height: 40vh;
    min-height: 150px;
    background-color: white;
    position: relative;
    top: -10vh;
    z-index: 1;
}

.whiteTeamPageHeader .whiteTextWrapper {
    margin: 35px 20px 20px 0;
    position: relative;
    top: 8vh;
    justify-content: center;
    align-items: center;
}

.teamCardsContainer {
    padding: 0;
    justify-content: stretch;
    flex-direction: row;
}

.teamCardWrapper {
    width: 100%;
    margin: 4px 0 4px 0;
    align-items: center;
}

.card-img {
    visibility: hidden;
    width: 0;
    height: 0;
}

.team-card {
    width: 100%;
    min-width: 270px;
    height: 100px;
    overflow: hidden;
    display: flex;
    background: none;
    font-weight: bold;
    justify-content: space-between;
    background-color: #383838;
    z-index: 1;
}

.card-img-thumbnail {
    width: 70px;
    margin: 10px;
    z-index: 2;
    border-radius: 100px;
}

.card-img-thumbnail-pressed {
    opacity: 0.5;
    border: 2px dotted gray;
}

.team-card div {
    justify-content: space-between;
    width: 85%;
    margin: 10px;
    z-index: 2;
}

.team-card div div {
    align-items: flex-start;
    margin: 0;
    min-width: 150px;
}

.team-card div div p {
    margin: 0 0 10px 0;
    line-height: 20px;
}

.profile-contact-icon {
    width: 25px;
    z-index: 3;
}

.team-card-dropdown {
    visibility: hidden;
    height: 0;
    position: relative;
    top: -50px;
    background-color: rgb(36, 36, 36);
    align-items: flex-start;
    width: 100%;
    justify-content: right;
    z-index: 0;
}

.card-expand {
    visibility: visible;
    height: auto;
    top: -2px;
    transition: 0.1s;
}

.team-card-dropdown .link-border-horizontal {
    width: 67%;
    position: relative;
    right: -30%;
}

.team-card-dropdown ul {
    width: 100%;
    padding: 0;
    margin-right: 0;
}

.team-card-dropdown .contactListItem {
    margin-left: 0;
    margin-right: 5px;
    width: 95%;
}

.contactListItem p {
    margin-right: 10px;
}

.portrait-img {
    min-width: 200px;
    max-width: 400px;
    width: 100%;
}

.profileImageContainer ul li {
    margin-left: 0;
}

.profileImageContainer img {
    align-self: flex-start;
}

.profileImageContainer ul {
    align-self: flex-end;
}

.whiteContentSection {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    width: 200vw;
    height: min-content;
    min-height: 800px;
    background-color: white;
    position: relative;
    top: 0;
}

.whiteTextWrapper {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
    margin: 15vh 0 15vh 0;
    width: 100vw;
    flex-direction: column;
    padding: 0;
}

.whiteTextWrapper p {
    margin: 15px 50px 15px 50px;
}

.worldlinkLogo {
    width: 125px;
}

.subPageMainSection {
    flex-direction: column;
    padding: 0;
    margin-top: 80px;
}

.subPageMainSection .hidden {
    position: absolute;
    margin: 0;
    margin-right: -200px;
}

.subPageMainSection .profileContainer {
    align-items: flex-start;
    flex-direction: column;
}

/*Profile Page*/

.subPageMainSection .profileContainer .text, .subPageMainSection .text {
    background-color: #202020;
    margin-top: 15px;
}

.subPageMainSection .profileContainer .text div, .subPageMainSection .text div {
    margin: 0 15px 0 15px;
}

.subPageMainSection .profileContainer .text div p:first-child, .subPageMainSection .text div p:first-child {
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: black;
    width: 100%;
    padding: 5px;
    border-bottom: 3px solid white;
    justify-content: flex-start;
}

.subPageMainSection .profileContainer div p:last-child, .subPageMainSection div p:last-child {
    line-height: 30px;
}

.subPageMainSection div p {
    align-items: flex-start;
    margin: 10px 0 10px 0;
}

.subPageMainSection .profileImageContainer {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.subPageMainSection .text {
    line-height: 40px;
    margin: 0;
    align-items: flex-start;
}

.contactWrapper {
    min-width: 350px;
    align-content: flex-end;
    align-items: flex-end;
    position: relative;
    top: 0;
    margin: 100px 100px 100px 0;
    padding-top: 0;
    padding-bottom: 0;
}

.contactWrapper h1 {
    position: relative;
    right: 10px;
}

.contactWrapper ul {
    list-style-type: none;
}

.contactListItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 50px;
    text-align: right;
}

.contactListItem a {
    line-height: 30px;
}

.contactListItem img {
    width: 18px;
    margin: 15px 0 15px 20px;
}

.arrowSection {
    position: relative;
    top: 0;
}

.arrowSection img {
    width: 60px;
    cursor: pointer;
}

.map {
    visibility: hidden;
}

footer {
    border-top: 4px solid white;
    width: 100vw;
    min-height: 500px;
    position: relative;
    flex-direction: column;
}

footer .yellow {
    text-transform: uppercase;
}

footer .contentWrapper {
    margin: 25px 50px 25px 50px;
    padding-top: 0;
    align-items: stretch;
}

.mainFooterText {
    align-items: flex-start;
    padding-top: 15px;
}

.footerTopBox {
    width: 70%;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
}

.footerBottomBox {
    align-items: flex-start;
    font-style: italic;
    line-height: 20px;
}

.footerBottomBox a {
    text-decoration: underline;
}

.footerboxtext {
    align-content: space-around;
    align-items: flex-start;
    padding: 15px 15px 15px 0;
    line-height: 20px;
    min-width: 170px;
}

.footerboxtext .yellow {
    line-height: 25px;
}

.footerCopyrightBox {
    text-align: right;
    font-style: italic;
    align-items: flex-start;
    justify-content: flex-end;
    line-height: 20px;
}

.footerCopyrightBox p img {
    width: 11px;
}

.footerLogo {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
}

.githubLink {
    color: rgb(179, 123, 243);
}

/*Tablet*/

@media (min-width: 600px) {
    .hidden {
        visibility: hidden;
        width: 0;
        min-width: 0;
        height: 0;
        min-height: 0;
        margin: 0;
        position: absolute;
    }
    .language-dropdown .hideable-link-wrapper {
        margin-right: 0;
    }
    .introLeft {
        height: 20vw;
    }
    .introLeft p {
        width: max-content;
    }
    .backgroundImageContainer {
        top: -250px;
        height: 900px;
    }
    .background-image {
        width: 1300px;
    }
    .tile p {
        position: absolute;
        top: auto;
        height: auto;
        width: 100%;
        padding: 10px;
        margin: 0;
        text-align: left;
        background-color: rgb(0, 0, 0, 0.5);
    }
    .tile {
        margin: 10px;
        overflow: visible;
    }
    .tile, .tileimage {
        height: 290px;
        min-height: 290px;
        max-height: 290px;
        width: 290px;
        min-width: 290px;
        max-width: 290px;
    }
    .tile p {
        height: auto;
        width: 67%;
    }
    .tilecontainer {
        justify-content: center;
    }
    .tileHeader {
        margin: 10px;
    }
    .teamCardsContainer {
        justify-content: center;
    }
    .teamCardWrapper {
        justify-content: flex-start;
        max-width: 298px;
        margin: 10px;
        position: relative;
    }
    .team-card {
        min-width: auto;
        height: 110px;
    }
    .team-card div {
        width: 90%;
    }
    .team-card div div p {
        font-size: 18px;
        line-height: 30px;
    }
    .subPageMainSection {
        flex-direction: row;
        margin-top: 50px;
        /*align-items: stretch;*/
        justify-content: start;
    }
    #expertise-main-section.subPageMainSection {
        flex-direction: column;
    }
    #expertise-main-section .teamCardsContainer {
        flex-direction: row;
    }
    .subPageMainSection .teamCardWrapper {
        max-width: 220px;
    }
    .card-img {
        visibility: visible;
        width: 100%;
        height: auto;
        z-index: 0;
    }
    .card-img-thumbnail {
        visibility: hidden;
        width: 0;
        height: 0;
        position: relative;
        left: -50px;
        margin: 0;
    }
    .card-expand {
        position: absolute;
        top: 0;
        height: 300px;
        z-index: 5;
        background-color: rgba(73, 73, 73, 0.8);
        transition: none;
    }
    .subPageMainSection .card-expand {
        height: 222px;
    }
    .profile-contact-icon {
        width: 30px;
    }
    .worldlinkLogo {
        width: 175px;
    }
    .contactWrapper {
        top: -10vh;
        margin-top: 250px;
        margin-bottom: 150px;
    }
    footer .contentWrapper {
        flex-direction: column;
        align-items: stretch;
        margin: 0 50px 0 50px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .footerTopBox {
        flex-direction: row;
    }
    .footerlogo {
        width: 200px;
    }
    .contactListItem img {
        width: 28px;
        margin: 15px;
    }
    .emeaLawyerImage {
        width: 125px;
    }
}

@media (min-width: 1000px) {
    .hidden {
        visibility: hidden;
        width: 0;
        min-width: 0;
        height: 0;
        min-height: 0;
        margin: 0;
        position: absolute;
    }
    .serif, .sans-serif {
        font-size: 20px;
        line-height: 30px;
    }
    .xs {
        font-size: 14px;
    }
    .sm {
        font-size: 16px;
        line-height: 14px;
    }
    .lg {
        font-size: 25px;
        line-height: 30px;
    }
    .xl {
        font-size: 40px;
        line-height: 30px;
    }
    .teamCardsContainer {
        flex-direction: row;
        /*margin-top: 150px;*/
    }
    #expertise-main-section.subPageMainSection {
        flex-direction: row;
    }
    #expertise-main-section .teamCardsContainer {
        flex-direction: column;
    }
    .navbar-linkwrapper a {
        visibility: visible;
        padding: 5px;
        cursor: pointer;
    }
    .navbar-linkwrapper {
        min-width: 55%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-linkwrapper:last-child {
        transition: 0.5s;
    }
    .language-dropdown {
        margin-right: 100px;
    }
    .hamburger {
        width: 0;
        visibility: hidden;
    }
    .hamburger-dropdown {
        max-width: 0;
        visibility: hidden;
        margin-left: -100px;
    }
    .backgroundImageContainer {
        top: -1050px;
        height: 2000px;
    }
    .background-image {
        width: 110vw;
        min-width: 3100px;
    }
    .introSection {
        min-height: 1000px;
    }
    .introLeft, .introRight {
        height: 450px;
        width: 450px;
        min-width: 285px;
        line-height: 25px;
    }
    .introtext {
        line-height: 30px;
    }
    .bigtile .tileimage {
        height: 300px;
        min-height: 300px;
        max-height: 300px;
        width: 300px;
        min-width: 300px;
        max-width: 300px;
    }
    .bigtile p {
        background-color: rgba(209, 12, 12, 0.507);
    }
    .whiteTextWrapper {
        margin: 20vh 0 25vh 0;
    }
    .worldlinkLogo {
        width: 200px;
    }
    .map {
        visibility: visible;
        height: 500px;
        width: 100vw;
    }
    .subPageMainSection .profileImageContainer {
        width: auto;
        height: 100%;
        margin: 15px;
        order: 1;
    }
    .subPageMainSection .text {
        margin: 25px;
        order: 2;
    }
    .subPageMainSection .profileContainer {
        flex-direction: row;
    }
    .portrait-img {
        min-width: 400px;
    }
    .contactWrapper {
        margin-bottom: 0;
    }
    footer .contentWrapper {
        flex-direction: row;
        align-items: flex-end;
        margin: 25px 50px 25px 50px;
    }
    .footerCopyrightBox {
        align-items: flex-end;
    }
    .footerTopBox {
        flex-direction: row;
    }
    .footerboxtext {
        line-height: 35px;
    }
    .emeaLawyerImage {
        position: relative;
        margin: 25px;
        width: 150px;
    }
}

@media (min-width: 3000px) {
    .backgroundImageContainer {
        top: -1800px;
        height: 2700px;
    }
    .background-image {
        width: 110vw;
        min-width: 3840px;
        z-index: -2;
    }
}